# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo

# Log files
*.log

# IDE files
.vscode/
.idea/

# Environment files
.env
.env.*

# Dependency directories
venv/
env/
envs/
virtualenv/
